rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write, create: if request.auth.uid == userId || request.auth.token.role == "admin"
    }
    match /flats/{flat_id} {
      allow read, write, create: if request.auth != null || request.auth.token.role == "admin"
    }
    match /applications/{application_id} {
      allow read, write, create: if request.auth != null || request.auth.token.role == "admin"
    }
  }
}
